bands.vtl


<h1>Bands List!</h1>

#foreach ($band in $bands)
  <li><a href="/band/$band.getId()">$band.getName()</a></li>
#end

<p>Add a new band:</p>

<form action="/bands" method="post">
  <label for="name">Band name</label>
  <input id="name" name="name" type="text" required/>

  <button type="submit">Add band</button>
</form>


<h3><a class="btn btn-info" href='/'>Home</a></p>
