index.vtl

<head>
    <title>Welcome To The Band Site</title>
</head>
<body>
    <h1>Welcome To The Band Site</h1>

    <h3><a class="btn btn-info" href="/bands">Add or view a band</a></h3>
    <h3><a class="btn btn-info" href="/venues">Add or view a venue</a></h3>

</body>
