venues.vtl

<h1>Venue list!</h1>

<h3>Add a new venue:</h3>

<form action="/venues" method="post">
  <label for="name">Venue Name</label>
  <input id="name" name="name" type="text">

  <button class="btn btn-default" type="submit">Add venue</button>
</form>

#foreach ($task in $tasks)
  <li><a class="btn btn-primary" href="/tasks/$task.getId()">$task.getName()</a></li><br>
#end

<p><a class="btn btn-info" href='/'>Home</a></p>
